
<nav class="navbar navbar-dark fixed-top navbar-expand-sm justify-content-between">

    <div class="container-fluid">
        <div class="order-0">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link go-back" onclick="history.go(-1);">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <a class="nav-link settings-mobile" href="http://localhost:8888/museo/choice.php">
                        <i class="fas fa-cog"></i>
                    </a>
                </li>
            </ul>
        </div>

        <a href="http://localhost:8888/museo/index.php" class="navbar-brand home">Home</a>

        <div class="order-2">
            <ul class="navbar-nav ml-auto settings-navbar">
                <li class="nav-item my-auto mr-0">
                    <a class="nav-link search" href="http://localhost:8888/museo/cerca.php">
                        Cerca &nbsp<i class="fas fa-search"></i>
                    </a>
                    <a class="nav-link settings-desktop" href="http://localhost:8888/museo/choice.php">
                         <i class="fas fa-cog"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>