@font-face {
    font-family: 'Roboto Light';
    src: url(fonts/roboto/Roboto-Light.ttf);
}
@font-face {
    font-family:'Roboto Medium';
    src: url(fonts/roboto/Roboto-Medium.ttf);
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Light', sans-serif;
    /*
        background:linear-gradient(150deg, #ff4800 11%, #ffc30a 65%, #ffdc75 94%) no-repeat;  background linear gradient originale
    */
    background:linear-gradient(140deg, #ff4800 5%, #ffc30a 37%, #ffdc75 74%) fixed;
    background-size: 100vw 100vh, contain;

    /*
    background-image: url("../img/hhhh.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    */

}

p{
    font-size: 16px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Medium', 'Helvetica', sans-serif;
    font-weight: 600;
}

.custom-container{
    padding-top: 100px;
    min-height: 100vh;
}

a{
    color: rgb(255, 255, 255);
    -o-transition:color .2s ease-out;
    -ms-transition:color .2s ease-out;
    -moz-transition:color .2s ease-out;
    -webkit-transition:color .2s ease-out;
    /* ...and now override with proper CSS property */
    transition:color .1s ease-out;
}

a:hover{
    color: rgba(255, 255, 255, 0.4);
}

.itemsContainer{
    margin-top: 4.5rem;
}

.btn-grad {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    line-height: 1.5;
    font-weight: 900;
    border: unset;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2)
}

.btn-grad {background-image: linear-gradient(to right, #ff4800 0%, #ffc30a 51%, #ff4800 100%)}
.btn-grad:hover { background-position: right center; }
/* NAVBAR */

.navbar{
    -webkit-backdrop-filter: blur(25px) saturate(130%);
    backdrop-filter: blur(25px) saturate(130%);
    background-color: rgba(0, 0, 0, .50);
    box-shadow: 0 0 1rem 2px rgba(0, 0, 0, .4);
    font-size: 22px;
}

.navbar-brand{
    font-size: inherit;
}

.nav-link{
    display: inline-block;
}

.search{
    margin-right: 15px;
}

.settings-mobile{
    display: none;
}

.settings-navbar .nav-item{
    margin-right: 20px;
}

.home{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 15%;
    font-weight: 700;
}

/* END NAVBAR */

.content-center{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 65px; /* viene dato un padding per permettere di centrare l'elemento nella schermata considerando anche l'altezza della navbar */
}

.customCard{
    border-radius: 0.3em;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .8);
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(25px) saturate(100%);
    backdrop-filter: blur(25px) saturate(100%);
    width: 100%;
    padding: 35px 25px;
}

.customCard a{
    color: black;
    transition: 0.2s;
}
.customCard a:hover{
    text-decoration: none;
    color: #ffc30a;
}

.customCard .title{
    margin-bottom: 20px;
}

#homeBox .customCard a{
    color: white;
}

#homeBox .customCard a:hover{
    color: white;
}

.glassContainer{
    -webkit-backdrop-filter: blur(25px) saturate(100%);
    backdrop-filter: blur(25px) saturate(100%);
    background-color: rgba(0, 0, 0, .50);
    width: 100%;
    padding: 25px;
}

.img-items{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;}

.img-item{
    border-radius: 6px;
    /*
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, .4);
     */
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .4);
}

/* CAROUSEL */

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}

.blog .carousel-indicators li{
    border-top: unset;
    border-bottom: unset;
}

.carouselItem{
   /*
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .4);
    margin: 15px;
    */
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, .3);
    margin: 25px 15px;
    padding: 0;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
}

.carouselItem .title{
    font-size: 15px;
    padding: 0 5px;
    font-variant: all-small-caps;
}

.carouselItem a:hover{
    color: rgba(30, 30, 30, 0.6);
}

#desktopItemCarousel{
    margin-bottom: 2rem;
}

#mobileItemCarousel{
    display: none;
    margin-bottom: 2rem;
}

/* END CAROUSEL */

/* SEARCH PAGE */

.resultBox{
    margin-top: 4.5rem;
}

/* END SEARCH PAGE */

@media all and (max-width: 767px) {
    body{
        background-image: url("../img/hhhh.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #desktopItemCarousel{
        display: none;
    }

    #mobileItemCarousel{
        display: block;
    }

    .itemsContainer, resultBox{
        margin-top: 3.5rem;
    }

    .customCard{
        background-color: rgba(255, 255, 255, 0.6);
    }

    .go-back{
        display: none;
    }

    .settings-mobile{
        display: inline-block;
    }

    .settings-desktop{
        display: none;
    }

    .search{
        margin-right: 0px;
    }
}
